.wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0;
  padding: var(--spacing-xxs);
  border-bottom: 3px solid var(--color-primary);
}

.select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  appearance: none;
  outline: 0;
  border: 0;
  line-height: inherit;

  border-radius: 0;
  background-color: transparent;
  text-align: center;
  text-align-last: center;
}
