.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing-s);
}

.wrapper > *:not(:first-child) {
  margin-left: var(--spacing-xs);
}

@media (min-width: 50rem) {
  .wrapper {
    position: absolute;
    top: var(--spacing-l);
    right: var(--spacing-l);
  }
}
