.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.wrapper > * {
  flex-grow: 1;
  margin: 0.5rem;
  flex-basis: calc((40rem - 100%) * 999);
}

@media (min-width: 40rem) {
  .wrapper {
    margin: -1rem;
  }

  .wrapper > * {
    margin: 1rem;
  }
}
